* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=lf

*.bin binary
*.dll binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.mp4 binary
*.onnx binary
*.parquet binary
*.pkl binary
*.png binary
*.safetensors binary
*.wav binary
*.webp binary
